In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data= pd.read_csv(r'C:\Users\light\Downloads\3. Police Data.csv')

In [3]:
df_police_data= data.copy()

In [6]:
df_police_data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [8]:
df_police_data['stop_date']= pd.to_datetime(df_police_data['stop_date'])

In [14]:
df_police_data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [16]:
df_police_data.head(3)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [18]:
df_police_data.shape

(65535, 15)

In [17]:
df_police_data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

# droping the column with only null value:

In [20]:
df_police_data.head(2)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [23]:
df_police_data.drop(labels= 'country_name', axis= 1, inplace= True)  
#or
# for columns
# df_police_data.drop(columns= 'country_name', inplace= True)
# for rows:
# df_police_data.drop(index== "index", inplace= True)

In [24]:
df_police_data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [26]:
# next questions:

In [32]:
df_police_data[(df_police_data['driver_gender'] == 'M') | (df_police_data['driver_gender'] == 'F') & (df_police_data['violation_raw']=='Speeding')].value_counts()

stop_date   stop_time  driver_gender  driver_age_raw  driver_age  driver_race  violation_raw                   violation         search_conducted  search_type                        stop_outcome   is_arrested  stop_duration  drugs_related_stop
2006-01-12  11:35      M              1986.0          20.0        White        Equipment/Inspection Violation  Equipment         True              Incident to Arrest                 Arrest Driver  True         16-30 Min      False                 2
2005-12-19  19:21      M              1957.0          48.0        White        Call for Service                Other             True              Incident to Arrest                 Arrest Driver  True         16-30 Min      False                 2
2005-11-27  8:40       M              1984.0          21.0        White        Other Traffic Violation         Moving violation  True              Incident to Arrest                 Arrest Driver  True         0-15 Min       False                 2
2006-02-21  1:40       M              1985.0          21.0        Black        Other Traffic Violation         Moving violation  True              Incident to Arrest,Probable Cause  Arrest Driver  True         30+ Min        True                  2
2005-10-12  20:30      M              1987.0          18.0        Hispanic     Other Traffic Violation         Moving violation  True              Protective Frisk                   Arrest Driver  True         0-15 Min       False                 2
                                                                                                                                                                                                                                                      ..
2007-09-10  8:44       M              1986.0          21.0        Black        Equipment/Inspection Violation  Equipment         True              Incident to Arrest                 Citation       False        16-30 Min      False                 1
2007-09-06  20:25      M              1962.0          45.0        White        Call for Service                Other             True              Incident to Arrest                 Arrest Driver  True         16-30 Min      False                 1
            0:20       M              1965.0          42.0        Black        Other Traffic Violation         Moving violation  True              Probable Cause                     Citation       False        0-15 Min       True                  1
2007-09-04  1:50       M              1988.0          19.0        White        Equipment/Inspection Violation  Equipment         True              Probable Cause,Protective Frisk    Citation       False        16-30 Min      False                 1
2012-12-05  23:13      M              1985.0          27.0        Black        Equipment/Inspection Violation  Equipment         True              Probable Cause                     Warning        False        0-15 Min       True                  1
Length: 2205, dtype: int64

In [38]:
n= df_police_data[((df_police_data['driver_gender']=='M') | (df_police_data['driver_gender']=='F')) & (df_police_data['violation_raw']=='Speeding')]

In [40]:
n['driver_gender'].value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [44]:
df_police_data[df_police_data['violation_raw']=='Speeding'].loc[:, 'driver_gender'].value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [46]:
df_police_data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [67]:
df_police_data.groupby('driver_gender')['search_conducted'].sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [69]:
df_police_data['search_conducted'].value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [70]:
# mean stop duration:

In [72]:
df_police_data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [76]:
type(df_police_data['stop_duration'][1])

str

In [84]:
df_police_data['stop_duration']= df_police_data['stop_duration'].map({'0-15 Min' : 7.5, '16-30 Min' : 23, '30+ Min' : 45, '2' : 2})

In [86]:
df_police_data['stop_duration']

0         7.5
1         7.5
2         7.5
3        23.0
4         7.5
         ...
65530     7.5
65531     7.5
65532     7.5
65533     NaN
65534     7.5
Name: stop_duration, Length: 65535, dtype: float64

In [89]:
# mean stop duration:
df_police_data['stop_duration'].mean()

12.001032940219602

In [91]:
df_police_data.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,2005-01-18,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [97]:
df_police_data.groupby('violation')['driver_age'].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0